/* Footer Section */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-links,
.footer-socials,
.footer-contact {
  flex: 1;
  padding: 0 20px;
  text-align: center;  /* Center-align the footer content */
}

.footer-links ul,
.footer-socials ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-socials li {
  margin-bottom: 8px;
}

.footer-bottom {
  background-color: #141414;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}
